.job-card{
    min-height: 300px; 
    width: 100%;
    /* background-color: yellow; */
    padding: 2.5rem;
    border: 1px solid #757575;
    border-radius: 8px;
    
}
.job-card img{
    margin-bottom: 1.5rem;

}
.job-details h2{
    font-size:18px;
    font-weight: bold; 
    color: #393939;
}
.job-details p{
    color:#757575;
    margin:5px;
}
.job-type{
    display: flex;
}
.job-type p{
    /* background-color:brown; */
    font-size: small;
    padding: 5px 9px 5px 9px;
    border: 1px solid #757575;
    border-radius: 5px;
    margin-right: 8px;
    text-align: center;
}
.job-location{
    display: flex;
    margin-right: 1rem;
}
.job-location p{
    /* margin-right: 8px; */

}
.chip{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right:0.5rem ;
}
.chip img{
  height:100%;
  margin-right: 0.1rem;
}
.chip-icon{
    height:16px;
    width:16px;
}

.view-btn{
    background-color: #D4145A;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius:6px;
    margin-top: 1rem;
}