.navbar{
    height:80px;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content:space-between;
    margin: 0 auto;
    background-color: transparent;
}
.navbar img{
    height:100%;
}
.nav-items a{
    text-decoration: none;
    margin-left: 1rem;
}
.apply-btn{
    background-color: #DD2476;
    color: #fff;
    height: 55px;
    width: 180px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    cursor: pointer;
}