.JobDetails-head{
   height: 400px;
   /* background-color: rgb(251, 255, 127); */
   display: flex;
   justify-content: space-between;
    
   
}
.JobDetails-left-img {
    position: relative;
    height: 100%;
}
.Image{
    position: absolute;
    bottom: 260px;
    left: 0px;
}
.jobdetails-left-img img{
 height:185px;
 width: 297px;
}